---
title: News
---
{% extends "layouts/_layout.html" %}



{% block content %}
    <!-- begin header -->
    <header class="header">
        <!-- begin header__top -->
        <div class="header__top">
            <a href="#" class="header__button">hotest</a>
            <a href="#" class="header__news">The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage. <span class="chevron-right"></span></a>
        </div>
        <!-- end header__top -->
        <!-- begin header__wrap -->
        <div class="header__wrap" style="background-image:url(img/nav-background.jpg)">
            <!-- begin header__logo -->
            <div class="logo">
                <a href="#" class="logo__top">LAYMAN<br> <span class="logo__center">politics</span><span class="logo__bottom">blog about politics</span></a>
            </div>
            <!-- end header__logo -->
            <!-- begin header__nav -->
            <div class="header__nav">
                <!-- begin header-links -->
                <div class="header-links">
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">Terms and Conditions </a></li>
                    </ul>
                </div>
                <!-- end header-links -->
                <nav class="nav">
                    <ul>
                        <li><a href="#">Main street</a></li>
                        <li><a href="#">washington dc</a></li>
                        <li><a class="is-active" href="#">wall street</a></li>
                        <li><a href="#">statewide</a></li>
                        <li><a href="#">politics</a></li>
                        <li><a href="#">just a bill</a></li>
                        <li><a href="#">video</a></li>
                    </ul>
                </nav>
            </div>
            <!-- end header__nav -->
        </div>
        <!-- end header__wrap -->
    </header>
    <!-- end header -->
    <!-- begin page-content -->
    <div class="page-content">
            {% include "layouts/_main.html" %}
            {% include "layouts/_aside.html" %}


    </div>
    <!-- end page-content -->
    {% include "layouts/_footer.html" %}


{% endblock %}



