        <!-- begin aside -->
        <aside class="aside">
            <section class="hottest-video">
                <h3 class="hottest-video__title">hottest video </h3>
                <!-- begin video_col -->
                <div class="video_col">
                    <!-- begin video-col__content -->
                    <div class="video-col__content">
                        <a href="#">
                            <div class="video-col__img background-img" style="background-image: url(img/v1.jpg)">
                                <div class="video-icon">
                                    <div class="video-icon__icon"></div>
                                </div>
                            </div>
                        </a>
                        <h4 class="video-col__title"><a href="#">CNN could not verify the authenticity</a></h4>
                        <span>The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</span>
                        <a href="#" class="comment">
                            <span class="comment__bubble"></span>12
                        </a>
                    </div>
                    <!-- end video-col__content -->
                </div>
                <!-- end video_col -->
                <!-- begin video_col -->
                <div class="video_col">
                    <!-- begin video-col__content -->
                    <div class="video-col__content">
                        <a href="#">
                            <div class="video-col__img background-img" style="background-image: url(img/v2.jpg)">
                                <div class="video-icon">
                                    <div class="video-icon__icon"></div>
                                </div>
                            </div>
                        </a>
                        <h4 class="video-col__title"><a href="#">Reids eyes deal to end stalemate over funding</a></h4>
                        <span>The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</span>
                        <a href="#" class="comment">
                            <span class="comment__bubble"></span>12
                        </a>
                    </div>
                    <!-- end video-col__content -->
                </div>
                <!-- end video_col -->
                <!-- begin video_col -->
                <div class="video_col">
                    <!-- begin video-col__content -->
                    <div class="video-col__content">
                        <a href="#">
                            <div class="video-col__img background-img" style="background-image: url(img/v3.jpg)">
                                <div class="video-icon">
                                    <div class="video-icon__icon"></div>
                                </div>
                            </div>
                        </a>
                        <h4 class="video-col__title"><a href="#">CNN could not verify the authenticity</a></h4>
                        <span>The bloodied bodies lay stuffed and tangled in the back of a pickup like garbage.</span>
                        <a href="#" class="comment">
                        <span class="comment__bubble"></span>12
                        </a>
                    </div>
                    <!-- end video-col__content -->
                </div>
                <!-- end video_col -->
            </section>
        </aside>
        <!-- end aside -->